<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PlanIt</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        
    </header>
    <div class="container">
        <div class="right-pane">
            <h3 class="right-pane-title">Categories</h3>
            <table class="category-table">
                <tr>
                    <td>
                        <label class="category-label" for="category-toggle0">General</label>
                    </td>
                    <td>
                        <form>
                            <input type="checkbox" value="None" class="category-toggle" id="category-toggle0" />
                        </form>
                    </td>
                    <td>
                        Delete
                    </td>
                    <td>
                        Edit
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="category-label" for="category-toggle1">School</label>
                    </td>
                    <td>
                        <form>
                            <input type="checkbox" value="None" class="category-toggle" id="category-toggle1" />
                        </form>
                    </td>
                    <td>
                        <input type = "button" name="Delete"/>
                    </td>
                    <td>
                        <input type="button" name="Edit"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="category-label" for="category-toggle2">Soccer</label>
                    </td>
                    <td>
                        <form>
                            <input type="checkbox" value="None" class="category-toggle" id="category-toggle2" />
                        </form>
                    </td>
                    <td>
                        Delete
                    </td>
                    <td>
                        Edit
                    </td>
                </tr>
            </table>
        </div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
