@model PlanIt.ViewModels.CalendarViewModel

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/layoutTopNavbar.css" />
    <link rel="stylesheet" href="~/css/CalendarRightSidebar.css" />
    <link rel="stylesheet" href="~/css/calendarMainView.css" />
    <link rel="stylesheet" href="~/css/eventCreator.css" />
    <link rel="icon" type="image/png" href="~/images/icons/ronald.png" />
    <!--temporary object declaration-->
    <script src="~/js/categoriesobject.js"></script>
    <!--JQUERY-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!--ICONS-->
    <script src="https://kit.fontawesome.com/88c449e1f8.js" crossorigin="anonymous"></script>
    <title>PlanIt</title>
</head>
<body class="body-layout" id="body-layout">
    
    <div class="navbar-container">
        <div class="navbar-right-half-container">
            <div class="nrp-upper-half">
                <!-- Add Event Button -->
                <button id="btnAddEvent" title="Add Event">+</button>
                <!-- Modal Add Event UI -->
                <div id="modalAddEvent" class="addEvent">
                    <!-- Content -->
                    <div class="modalAddEvent-content">
                        <div class="modalContainer">
                            <div class="addEvent-row">
                                <span class="square" id="eventModalLabel"></span>
                                <input type="text" id="eventTitle" placeholder="Title" required />
                                <div>
                                    <textarea id="eventDescription" placeholder="Description (Optional)"></textarea>
                                </div>
                                <div class="custom-select">
                                    <select id="categories_ev">
                                        <!-- Don't worry about it -->
                                    </select>
                                </div>
                            </div>

                            <div class="addEvent-row">
                                <div class="field">
                                    <label for="eventTime" class="fieldLabel">Time</label>
                                    <input type="time" id="eventTime" placeholder="12:00pm" />
                                    <input type="date" id="eventDate" />
                                </div>
                                <div class="field">
                                    <label for="eventHours" class="fieldLabel">Duration</label>
                                    <input type="number" value="0" min="0" max="24" id="eventHours" class="eventDuration" />
                                    <span>Hours</span>
                                    <input type="number" value="30" min="0" max="60" id="eventMinutes" class="eventDuration" />
                                    <span>Minutes</span>
                                </div>
                            </div>

                            <div class="addEvent-row" id="addEvent-submitRow">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nrp-lower-half">
                <input type="date" id="date-search-input"/>
                <button class="date-search-button" id="date-search-button">Search Day</button>
            </div>
        </div>
        <div class="navbar-left-half-container">
            <input type="radio" name="page-selector" class="navbar-page-input" id="npi-social-page-input" />
            <label for="npi-social-page-input" class="npi-label" title="Friends List">
                <span class="fas fa-users">
                    <a></a>
                </span>
            </label>
            <input type="radio" name="page-selector" class="navbar-page-input" id="npi-calendar-page-input" />
            <label for="npi-calendar-page-input" class="npi-label" title="Your Calendar">
                <span class="fas fa-calendar-week">
                    <a></a>
                </span>
            </label>
            <input type="radio" name="page-selector" class="navbar-page-input" id="npi-checklist-page-input" />
            <label for="npi-checklist-page-input" class="npi-label" title="Checklists">
                <span class="fas fa-tasks">
                    <a></a>
                </span>
            </label>
        </div>

    </div>
    <div class="pane-container">
        @RenderBody()
    </div>

    <script src="~/js/Layout/eventCreator.js"></script>
    <script src="~/js/Layout/dateNavigation.js"></script>
    <script src="~/js/Layout/layoutInit.js"></script>

    
    <script>
        initLayoutView();
    </script>
</body>

</html>