@model PlanIt.Models.Calendar_Model

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/layoutTopNavbar.css" />
    <link rel="stylesheet" href="~/css/layoutRightSidebar.css" />
    <link rel="stylesheet" href="~/css/calendarIndexView.css" />
    <link rel="stylesheet" href="~/css/addEvent.css" />

    <!--temporary object declaration-->
    <script src="~/js/categoriesobject.js"></script>
    <!--JQUERY-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!--ICONS-->
    <script src="https://kit.fontawesome.com/88c449e1f8.js" crossorigin="anonymous"></script>
    <title>PlanIt</title>
</head>
<body class="body-layout" id="body-layout">
    <script>
        var modelJSON = @(Html.Raw(Model.ToJson() ));
    </script>
    <div class="navbar-container">
        <div class="navbar-right-half-container">
            <div class="nrp-upper-half">
                <!-- Add Event Button -->
                <button id="btnAddEvent">Event</button>
                <!-- Modal Add Event UI -->
                <div id="modalAddEvent" class="addEvent">
                    <!-- Content -->
                    <div class="modalAddEvent-content">
                        <form class="modalAddEvent animate" action="/add_event_page.php" method="post">
                            <div class="container">
                                <div class="addEvent-row">
                                    <span class="square">Event Creator</span>
                                    <input type="text" id="title" name="title" placeholder="Title" required />
                                    <div>
                                        <textarea id="description" name="description" placeholder="Description (Optional)"></textarea>
                                    </div>
                                    <div class="custom-select">
                                        <select name="categories_ev" id="categories_ev">
                                            <option value="Personal">Personal</option>
                                            <option value="Travel">Travel</option>
                                            <option value="School">School</option>
                                            <option value="Work">Work</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="addEvent-row">
                                    <div class="field">
                                        <label for="time">Time (Optional):</label>
                                        <input type="time" id="time" placeholder="12:00pm" />
                                        <input type="date" id="date" />
                                    </div>
                                    <div class="field">
                                        <label for="duration">Duration</label>
                                        <input type="number" min="0" id="duration" />
                                        <select name="duration-select" id="duration-select">
                                            <option value="Minutes">Minutes</option>
                                            <option value="Hours">Hours</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="addEvent-row">
                                    <div class="field">
                                        <label for="recurr-table">Recurrences (Optional)</label>
                                        <table id="recurr-table" class="recurr-table" width="50%">
                                            <tr>
                                                <td>
                                                    <input type="radio" class="view-selector" name="view-selector" id="daily-opt" />
                                                    <label class="view-selector-label" for="day-view">Daily</label>
                                                </td>
                                                <td>
                                                    <input type="radio" class="view-selector" name="view-selector" id="weekly-opt" />
                                                    <label class="view-selector-label" for="week-view">Weekly</label>
                                                </td>
                                                <td>
                                                    <input type="radio" class="view-selector" name="view-selector" id="monthly-opt" />
                                                    <label class="view-selector-label" for="month-view">Monthly</label>
                                                </td>
                                                <td>
                                                    <input type="radio" class="view-selector" name="view-selector" id="yearly-opt" />
                                                    <label class="view-selector-label" for="month-view">Yearly</label>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <button type="submit" id="btnCreateEvent">Create Event</button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="nrp-lower-half">
                <input type="date" id="date-search-input"/>
                <button class="date-search-button" id="date-search-button">Search Day</button>
            </div>
        </div>
        <div class="navbar-left-half-container">
            <input type="radio" name="page-selector" class="navbar-page-input" id="npi-social-page-input" />
            <label for="npi-social-page-input" class="npi-label">
                <span class="fas fa-users">
                    <a></a>
                </span>
            </label>
            <input type="radio" name="page-selector" class="navbar-page-input" id="npi-calendar-page-input" />
            <label for="npi-calendar-page-input" class="npi-label">
                <span class="fas fa-calendar-week">
                    <a></a>
                </span>
            </label>
            <input type="radio" name="page-selector" class="navbar-page-input" id="npi-checklist-page-input" />
            <label for="npi-checklist-page-input" class="npi-label">
                <span class="fas fa-tasks">
                    <a></a>
                </span>
            </label>
        </div>

    </div>
    <div class="pane-container">
        <div class="right-pane">
            <div class="rp-half">
                <div class="rp-headline">Categories</div>
                <input id="toggle-all-categories-input" type="checkbox" />
                <label for="toggle-all-categories-input" id="toggle-all-label">
                    <span id="toggle-all-label-text"></span>
                </label>
                <div class="rp-table-container">
                    <table id="categories-table">

                    </table>
                </div>
            </div>
            <div class="rp-half">
                <div class="rp-headline">Event Templates</div>
                <div class="event-templates"></div>
            </div>
        </div>
        <div class="main-pane">
            @RenderBody()
        </div>
    </div>

    <script src="~/js/Layout/categoriesTable.js"></script>
    <script src="~/js/Layout/addEvent.js"></script>
    <script src="~/js/Layout/dateNavigation.js"></script>
    <script src="~/js/Layout/layoutInit.js"></script>

    <script>
        initLayoutView(modelJSON);
    </script>
</body>

</html>