<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="~/css/site.css" />
    <!--ICONS-->
    <script src="https://kit.fontawesome.com/88c449e1f8.js" crossorigin="anonymous"></script>
    <title>PlanIt</title>
</head>
<body>
    <div class="navbar-container">
        <div class="navbar-right-pane">
            <div class="nrp-upper-half">
                
            </div>
            <div class="nrp-lower-half">
                <span><input type="date" /></span>
                <span class="nrp-search-prompt">Search Day</span>
            </div>
        </div>
        <div class="navbar-left-pane">
            <span class="navbar-pageicon-container" id="npic-social">
                <button class="navbar-page-button"><span class="fas fa-users"></span></button>
            </span>
            <span class="navbar-pageicon-container" id="npic-calendar">
                <button class="navbar-page-button"><span class="fas fa-calendar-week"></span></button>
            </span>
            <span class="navbar-pageicon-container" id="npic-checklist">
                <button class="navbar-page-button"><span class="fas fa-tasks"></span></button>
            </span>
        </div>
    </div>
    <div class="pane-container">
        <div class="right-pane">
            <div class="categories-headline">Categories</div>
            <table class="categories-table">
                <tr>
                    <td class="category-toggle-entry">
                        <form>
                            <input type="checkbox" value="None" class="category-toggle" id="category-toggle0" />
                            <label class="category-label" for="category-toggle0"> General</label>
                        </form>
                    </td>
                    <td>
                        <button class="category-edit-button"><span class="far fa-edit"></span></button>
                    </td>
                </tr>
                <tr>
                    <td class="category-toggle-entry">
                        <form>
                            <input type="checkbox" value="None" class="category-toggle" id="category-toggle1" />
                            <label class="category-label" for="category-toggle1"> School</label>
                        </form>
                    </td>
                    <td>
                        <button class="category-edit-button"><span class="far fa-edit"></span></button>
                    </td>
                    <td>
                        <button class="category-delete-button"><span class="far fa-trash-alt"></span></button>
                    </td>
                </tr>
                <tr>
                    <td class="category-toggle-entry">
                        <form>
                            <input type="checkbox" value="None" class="category-toggle" id="category-toggle2" />
                            <label class="category-label" for="category-toggle2"> Soccer</label>
                        </form>
                    </td>
                    <td>
                        <button class="category-edit-button"><span class="far fa-edit"></span></button>
                    </td>
                    <td>
                        <button class="category-delete-button"><span class="far fa-trash-alt"></span></button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="main-pane">
            @RenderBody()
            <!-- Buttons for Previous, Today, and Next -->
            <!-- Day/Week/Month interface -->
            <ul class="dwm-container">
                <li><a href="#" class="day-view">Day</a></li>
                <li><a href="#" class="week-view">Week</a></li>
                <li><a href="#" class="month-view">Month</a></li>
            </ul>
        </div>
    </div>
</body>
</html>