<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/layoutTopNavbar.css" />
    <link rel="stylesheet" href="~/css/layoutRightSidebar.css" />
    <link rel="stylesheet" href="~/css/calendarIndexView.css" />

    <!--ICONS-->
    <script src="https://kit.fontawesome.com/88c449e1f8.js" crossorigin="anonymous"></script>
    <title>PlanIt</title>
</head>
<body class="body-layout">
    <div class="navbar-container">
        <div class="navbar-right-half-container">
            <div class="nrp-upper-half">

            </div>
            <div class="nrp-lower-half">
                <span><input type="date" /></span>
                <span class="nrp-search-prompt">Search Day</span>
            </div>
        </div>
        <div class="navbar-left-half-container">
            <span class="navbar-pageicon-container" id="npic-social">
                <button class="navbar-page-button" style="font-size: 24px;"><span class="fas fa-users"></span></button>
            </span>
            <span class="navbar-pageicon-container" id="npic-calendar">
                <button class="navbar-page-button" style="font-size: 24px;"><span class="fas fa-calendar-week"></span></button>
            </span>
            <span class="navbar-pageicon-container" id="npic-checklist">
                <button class="navbar-page-button" style="font-size: 24px;"><span class="fas fa-tasks"></span></button>
            </span>
        </div>
    </div>
    <div class="pane-container">
        <div class="right-pane">
            <div class="rp-half">
                <div class="rp-headline">Categories</div>
                <input id="toggle-all-categories-input" type="checkbox" />
                <label for="toggle-all-categories-input" id="toggle-all-label">Toggle All</label>
                <div class="rp-table-container">
                    <table id="categories-table">
                    </table>
                </div>
            </div>
            <div class="rp-half">
                <div class="rp-headline">Event Templates</div>
                <div class="event-templates"></div>
            </div>
        </div>
        <div class="main-pane">
            @RenderBody()
        </div>
    </div>
    <script src="~/js/createCategoriesTable.js"></script>
    <script src="~/js/toggleAllCategories.js"></script>

</body>
</html>