@{
    ViewData["Title"] = "Calendar";
    Layout = "_Layout";
}

<div class="calendar-index-body">
    <!-- Day and time interface -->
    <div class="calendar-headline">
        <div class="datetime" id="datetime"></div>
    </div>

    <script src="~/js/datetime.js"></script>

    <!-- Buttons for Previous, Today, and Next -->

    <!-- Day/Week/Month interface -->
    <div class="dwm-container">
        <table class="dwm-table" width="100%">
            <tr>
                <td>
                    <input type="radio" class="view-selector" name="view-selector" id="day-view" />
                    <label class="view-selector-label" for="day-view">Day</label>
                </td>
                <td>
                    <input type="radio" class="view-selector" name="view-selector" id="week-view" />
                    <label class="view-selector-label" for="week-view">Week</label>
                </td>
                <td>
                    <input type="radio" class="view-selector" name="view-selector" id="month-view" />
                    <label class="view-selector-label" for="month-view">Month</label>
                </td>
            </tr>
        </table>
    </div>

    <script src="~/js/viewInitializations/calendarViewInit.js"></script>
</div>
