@{
    ViewData["Title"] = "Calendar";
    Layout = "_Layout";
}

<!-- Day and time interface -->
<div class="calendar-headline">
    <div class="datetime" id="datetime"></div>
</div>

<script src="~/js/datetime.js"></script>

