@{
    ViewData["Title"] = "Calendar";
    Layout = "_Layout";
}

<div class="calendar-index-body">
    <!-- Day and time interface -->
    <div class="calendar-headline">
        <div class="datetime" id="datetime"></div>
    </div>

    <script src="~/js/datetime.js"></script>

    <div class="calendar-display-container">
        <div class="event-container">

        </div>
        <img class="daily-view-display-img" src="~/images/day_number_line.svg" />
        <div class="view-config-inputs-container">
            <div>

            </div>
            <div>

            </div>
        </div>
    </div>
   
    

    <!-- Buttons for Previous, Today, and Next -->
    <!-- Day/Week/Month interface -->
    <div class="dwm-container">
        <input type="radio" class="calendar-view-selector" name="view-selector" id="day-view" />
        <label class="calendar-view-selector-label" for="day-view">Day</label>

        <input type="radio" class="calendar-view-selector" name="view-selector" id="week-view" />
        <label class="calendar-view-selector-label" for="week-view">Week</label>

        <input type="radio" class="calendar-view-selector" name="view-selector" id="month-view" />
        <label class="calendar-view-selector-label" for="month-view">Month</label>
    </div>

</div>
<script src="~/js/viewInitializations/calendarViewInit.js"></script>
