@{
    ViewData["Title"] = "Calendar";
    Layout = "_Layout";
}

<div class="calendar-index-body" id="calendar-index-body">
    <!-- Day and time interface -->
    <div class="calendar-headline" id="calendar-headline">
    </div>

    <div class="calendar-display-container">

        @*Width for this element pre-set in the initialization script.*@
        <div id="event-padded-outer-container">
            <div id="event-inner-container">
            </div>
        </div>
        @*Width also pre-set in the initialization script.*@
        <img id="timeline-img" src="~/images/day_number_line.svg" />

    </div>
    <div id="view-config-inputs-container">
        <div id="zoom-container">
            <input id="zoom-out-input" type="button" onclick="zoomOut()" />
            <label for="zoom-out-input"><span class="fas fa-search-minus"></span></label>
            <span id="zoom-level-text">125%</span>
            <input id="zoom-in-input" type="button" onclick="zoomIn()" />
            <label for="zoom-in-input"><span class="fas fa-search-plus"></span></label>
        </div>

        <!-- Buttons for Previous, Today, and Next -->
        <table id="ptn-buttons-container">
            <tr>
                <td class="ptn-button">
                    
                </td>
                <td class="ptn-button">

                </td>
                <td class="ptn-button">

                </td>
            </tr>
        </table>
    </div>



    <!-- Day/Week/Month interface -->
    <div class="dwm-container">
        <input type="radio" class="calendar-view-selector" name="view-selector" id="day-view" />
        <label class="calendar-view-selector-label" for="day-view">Day</label>

        <input type="radio" class="calendar-view-selector" name="view-selector" id="week-view" />
        <label class="calendar-view-selector-label" for="week-view">Week</label>

        <input type="radio" class="calendar-view-selector" name="view-selector" id="month-view" />
        <label class="calendar-view-selector-label" for="month-view">Month</label>
    </div>
</div>

<script src="~/js/CalendarView/datetime.js"></script>
<script src="~/js/CalendarView/displayEvents.js"></script>
<script src="~/js/CalendarView/dailyViewZoomDisplay.js"></script>
<script src="~/js/CalendarView/dateDisplay.js"></script>

<!--INITIALIZATION SCRIPT (must go last)-->
<script src="~/js/CalendarView/_calendarViewInit.js"></script>


