
.right-pane {
    width: 20%;
    height: 100%;
    float: right;
    background-color: #f4f4f2;
    border-left: solid #e8e8e8 2px;
}

.rp-top-half {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.rp-bottom-half {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.rp-headline {
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #bbbfca;
    font-size: 24px;
    border: solid 2px #cfd3df;
}

#toggle-all-categories-input {
    display: none;
}

#toggle-all-label {
    flex: none;
    height: 30px;
    text-align: center;
    font-size: 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom: solid #708099 2px;
    border-left: solid #708099 2px;
    border-right: solid #708099 2px;
    color: #e8e8e8;
    background-color: #495464;
}

    #toggle-all-label:hover {
        background-color: #708099;
    }

#add-category-button-container {
    flex: none;
    height: 30px;
    font-size: 18px;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
}
#add-category-button {
    width: 100%;
    height: 100%;
}

.rp-table-container {
    flex-grow: 1;
    padding-top: 6px;
    overflow-y: scroll;
}

.category-creator-menu {
    position: absolute;
    right: calc(100% + 8px);
    z-index: 100;
    background-color: white;
    box-shadow: 2px 2px 8px #AAAAAA;
    width: 200px;
    height: 120px;
    display: flex;
    flex-direction: column;
}

.category-creator-menu {
    position: absolute;
    right: calc(100% + 8px);
    z-index: 100;
    background-color: white;
    border: solid 2px #e8e8e8;
    box-shadow: 2px 2px 8px #AAAAAA;
    width: 200px;
    height: 120px;
    display: flex;
    flex-direction: column;
}

.category-editor-menu {
    position: absolute;
    right: calc(100% + 8px);
    z-index: 100;
    background-color: white;
    box-shadow: 2px 2px 8px #AAAAAA;
    width: 200px;
    height: 120px;
    display: flex;
    flex-direction: column;
}
.ctg-menu-title-container {
    height: 24px;
    flex: none;
}
.ctg-menu-exit-btn {
    display: none;
}
.ctg-menu-exit-label {
    margin-left: 4px;
    display: inline;
    font-size: 18px;
    color: black;
}
    .ctg-menu-exit-label:hover {
        color: #bbbfca;
    }
.ctg-menu-title {
    font-size: 16px;
    margin-left: 8px;
    color: black;
}

.ctg-menu-editing-container {
    flex: auto;
    margin: 4px;
}
.ctg-menu-input {
    height: 100%;
    width: 50%;
}

#ctg-menu-save-container {
    height: 24px;
    font-size: 24px;
    flex: none;
}
#ctg-editormenu-save-btn {
    display: inline-block;
    height: 100%;
    width: 50%;
    float: right;
}
#ctg-creatormenu-save-btn {
    display: inline-block;
    height: 100%;
    width: 50%;
    float: right;
}

#categories-table {
    width: 100%;
}

.category-table-row {
    width: 100%;
    overflow-x: visible;
}

    .category-table-row button {
        opacity: 0;
    }

    .category-table-row:hover button {
        opacity: 1;
    }


.category-checkbox-entry {
    width: 75%;
    height: 100%;
}

.category-checkbox {
    display: none;
}

.category-label {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: left;
    align-items: center;
    word-wrap: break-word;
    font-size: 20px;
    color: black;
    border-radius: 2px;
}

.category-label-text {
    padding-left: 2px;
}

