


.calendar-index-body {
    width: 100%;
    height: 100%;
}
.main-pane {
    height: 100%;
    width: 80%;
    float: left;
    background-color: #f4f4f2;
    display: flex;
    flex-direction: column;
}

.calendar-headline {
    height: 40px;
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bbbfca;
    border: solid #cfd3df 2px;
    font-size: 24px;
}

.date-headline {
}

.calendar-display-container {
    flex: auto; /*<--- for relationship as child with calendar-index-body container*/
    overflow-x: auto;
    display: flex; /*<--- for relationship as parent containerr*/
    flex-direction: column;
    margin: 4px;
}

#event-padded-outer-container {
    flex: 1 1 auto;
/*padding occurs in a script*/
    margin-bottom: 4px;
}
#event-inner-container {
    position: relative;
    width: 100%;
    height:100%;
}
.event {
    position: absolute;
    border-radius: 8px;
    height: 42px;
}
    .event:hover {
        border: solid 2px #bbbfca;
    }

#timeline-img {
    flex: none;
    height: 15%;
}

#view-config-inputs-container {
    flex: none;
    width: 100%;
    height: 10%;
}
#zoom-container {
    height: 33%;
    font-size: 16px;
    margin-right: 4px;
    margin-top: 4px;
    float: right;
}
#zoom-out-input {
    display: none;
}
#zoom-in-input {
    display: none;
}
#zoom-level-text {
    margin-left: 4px;
    margin-right: 4px;
}

#ptn-buttons-container {
    height: 67%;
    width: 100%;
    table-layout: fixed;
}

.calendar-day-button {
    width: 50%;
    height: 100%;
    font-size: 16px;
    color: black;
    background-color: #cccfd7;
    border-radius: 4px;
    border: solid 2px #bbbfca;
}
    .calendar-day-button:hover {
        background-color: #e8e8e8;
    }

.calendar-day-content {
    vertical-align: middle;
    text-align: center;
}

.calendar-content-padding {
    margin-bottom: 5px;
}


.dwm-container {
    flex: none;
    display: table;
    table-layout: fixed;
    border-spacing: 4px;
    width: 100%;
    height: 60px;
}


.calendar-view-selector {
    display: none;
}

.calendar-view-selector-label {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: black;
    font-size: 28px;
    background-color: #cccfd7;
    border-radius: 4px;
    border: solid 2px #bbbfca;
}

.calendar-view-selector-label:hover {
    background-color: #e8e8e8;
}

.calendar-view-selector:checked + label {
    color: #e8e8e8;
    background-color: #495464;
    border-color: #708099;
}

.calendar-view-selector:checked + label:hover {
    background-color: #708099;
}
