/* Add Event Interface Styling*/
.square {
    position: relative;
    width: 25%;
    float: left;
    padding: 4.5%;
    margin-right: 2%;
    font-weight: bold;
    background-color: #cccfd7;
    border-radius: 4px;
    border: 2px solid #bbbfca;
    font-size: 20px;
    text-align: center;
}

.fieldLabel {
    float: left;
    width: 25%;
    height: 100%;
    background-color: #cccfd7;
    border-radius: 2px;
    border: 2px solid #bbbfca;
    font-size: 20px;
    text-align: center;
    padding-top: 7.5px;
}

.field {
    height: 50%;
    padding: 16px 0px;
}

#btnAddEvent {
    background-color: #f4f4f2;
    font-size: 3rem;
    color: darkgray;
    margin: 10px 0;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    transition-duration: 0.4s;
}

#btnAddEvent:hover {
    opacity: 0.8;
    background-color: #cccfd7;
    color: white;
}

.addEvent {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}


.modalContainer {
    background-color: #f4f4f2;
    width: 100%;
    height: 100%;
}

.modalContainer input[type=text] {
    background-color: #e8e8e8;
}


#btnCreateEvent {
    background-color: #4CAF50;
    color: black;
    padding: 2% 5%;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    font-size: 18px;
}

#btnCreateEvent:hover {
    background-color: #45A049;
}

#eventTitle {
    width: 70%;
    padding: 12px 20px;
    margin-bottom: 20px;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    font-size: 24px;
    float: right;
    border: 1px solid #001a33;
    border-radius: 5px;
}

#eventDescription {
    width: 70%;
    padding: 12px 20px;
    margin-bottom: 20px;
    font-size: 18px;
    float: right;
    resize: none;
    height: 100px;
    background-color: #e8e8e8;
    border: 1px solid #001a33;
    border-radius: 5px;
}

#eventTitle:focus, #eventDescription:focus {
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    outline: none;
}



#categories_ev {
    width: 25%;
    margin-top: 3%;
    padding: 10px 4.5%;
}


#eventTime {
    margin-left: 5%;
    padding: 10px 25px;
    height: 100%;
    width: 120px;
}

#eventDate {
    float: right;
    padding: 10px 25px;
    height: 100%;
}

.eventDuration {
    margin-left: 5%;
    padding: 10px 25px;
    height: 100%;
    width: 80px;
}

.recurr-table {
    padding-left: 4.5%;
}

.addEvent-row {
    display: table;
    width: 100%;
    height: 25%;
    padding: 12px
}

/* Content */
.modalAddEvent-content {
    background-color: #f4f4f2;
    margin: 2% auto; /* 5% from the top and centered */
    padding: 8px;
    border: 1px solid #888;
    top: 0;
    width: 80%; /* Could be more or less, depending on screen size */
    height: 75%;
    border-radius: 8px;
    border: 1px solid black;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes slideIn {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}
