

.navbar-right-half-container {
    width: 50%;
    height: 100%;
    float: right;
}

.nrp-upper-half {
    height: 50%;
    display: block;
}

.nrp-lower-half {
    height: 50%;
    display: block;
    position: relative;
}

.nrp-search-prompt {
    float: right;
    margin-top: 8px;
    margin-right: 4px;
    color: #e8e8e6;
    font-size: 20px;
}

.nrp-lower-half input[type=date] {
    float: right;
    width: 50%;
    margin: 4px;
    font-size: 20px;
}

.navbar-left-half-container {
    width: 50%;
    height: 100%;
    float: left;
    display: table;
    table-layout: fixed;
    border-spacing: 24px 8px;
}

.navbar-page-input {
    display: none;
}
.npi-label {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    background-color: #f4f4f2;
    color: #888888;
    border: solid 2px #e8e8e8;
    border-radius: 4px;
}
    
    .npi-label:hover {
        border: solid 4px #bbbfca;
    }

    .navbar-page-input:checked + label {
        border: solid 2px #bbbfca;
        color: #000000;
        background-color: #e8e8e8;
        font-size: 36px;
    }
