

.right-pane {
    width: 20%;
    height: 100%;
    float: right;
    background-color: #f4f4f2;
    border-left: solid #e8e8e8 2px;
}

.rp-half {
    height: 50%;
    display: flex;
    flex-direction: column;
}

.rp-headline {
    flex: none;
    height: 60px;
    background-color: #bbbfca;
    font-size: 24px;
    text-align: center;
    border: solid 2px #cfd3df;
}

#toggle-all-categories-input {
    display: none;
}

#toggle-all-label {
    flex: none;
    height: 30px;
    text-align: center;
    font-size: 20px;
    display: block;
    padding-bottom: 16px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom: solid #708099 2px;
    border-left: solid #708099 2px;
    border-right: solid #708099 2px;
    color: #e8e8e6;
    background-color: #495464;
}

    #toggle-all-label:hover {
        background-color: #708099;
    }

.rp-table-container {
    flex-grow: 1;
    overflow-y: scroll;
}

#categories-table {
    width: 100%;
}

.category-table-row {
    height: 30px;
}

    .category-table-row button {
        opacity: 0;
    }

    .category-table-row:hover button {
        opacity: 1;
    }

.category-checkbox-entry {
    width: 80%;
}

.category-checkbox {
    display: none;
}

.category-label {
    font-size: 24px;
    display: inline-block;
    width: 100%;
    border-radius: 2px;
    background-color: #cfd3df;
    border: solid 2px #bbbfca;
}

.category-label-text {
    padding-left: 2px;
}

.category-label:hover {
    background-color: #e8e8e8;
}

.category-checkbox:checked + label {
    color: #e8e8e6;
    background-color: #495464;
    border-color: #708099;
}

    .category-checkbox:checked + label:hover {
        background-color: #708099;
    }
