/*
**************************
* TENTATIVE COLOR SCHEME *
**************************

    --for main view--
    #f4f4f2     --very light grey
    #e8e8e8     --light grey
    #bbbfca     --grey
    #495464     --greyish navy

    --for layout's side bar, slightly tinted down--
    #e8e8e6     --very light grey
    #dbdbdb     --light grey
    #b0b4bf     --grey
    #495464     --greyish navy (same)
*/


/*
***********
* _Layout *
***********
*/
html, body {
    margin: 0;
    padding: 0;
}

.navbar-container {
    height: 70px;
    background-color: #495464;
}

.pane-container {
    width: 100%;
    height: 100%;
    position: fixed;
}
.main-pane {
    width: 80%;
    height: 100%;
    float: left;
    background-color: #f4f4f2;
}

.right-pane {
    width: 20%;
    height: 100%;
    float: right;
    background-color: #e8e8e6;
}
    .categories-headline {
        height: 10%;
        background-color: #b0b4bf;
        font-size: 24px;
        text-align: center;
    }
    .categories-table {
        width: 100%;
    }
        .category-toggle-entry {
            width: 80%;
            height: 32px;
        }
.category-toggle {
    display: none;
}
        .category-label {
            font-size: 24px;
            display: inline-block;
            width: 100%;
            background-color: #b0b4bf;
            border-radius: 4px;
        }
            .category-label:hover {
                background-color: #f4f4f2;
            }
        .category-toggle:checked + label {
            color: #e8e8e6;
            background-color: #495464;
        }
            .category-toggle:checked + label:hover {
                background-color: #708099;
            }

/*
***************
* /Home/Index *
***************
*/

.calendar-headline {
    height: 10%;
    text-align: center;
    background-color: #bbbfca;
    font-size: 24px;
}
.datetime {
    
}
