/*
**************************
* TENTATIVE COLOR SCHEME *
**************************

    --main view--

    backgrounds
    #f4f4f2     --very light grey

    accents
    #e8e8e8     --light grey

    titles and buttons
    #bbbfca     --grey
    #cccfd7     --slightly tinted up, button accent

    navbars and selected buttons
    #495464     --greyish navy

    hover for a selected button
    #708099     --greyish navy lighter 


*/


/*
***********
* _Layout *
***********
*/

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

.navbar-container {
    height: 80px;
    width: 100%;
    background-color: #495464;
}

.pane-container {
    width: 100%;
    height: calc(100% - 80px);
    position: fixed;
}




